@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

.bg_line {
  position: absolute; /* Add this if .bg_line doesn't already have a positioning context */
}
.bg_line::after{
  content: "";
  position: absolute;
  bottom: -4px;
  left: 30%;
  border-bottom: 4px solid #c9c9c9;
  border-right: 4px solid #c9c9c9;
  width: 22vw;
  height: 50%;
  background-color: white;
  z-index: 2;
}

.slick-slide > div {
  margin: 0 10px;
  height: 100%;
  z-index: 10;
  overflow-y: auto;
  transition: transform 0.3s ease; /* Smooth transition for scaling effect */
}

.slick-slide > div:hover {
  transform: scale(1.025);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

